:root {
    --warna-utama : #2F61DE;
    --warna-putih : #FFFFFF;
    --warna-abumuda : #F2F2F2;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
  }
  
  .navbar-brand{
    font-weight: 600;
    font-size: 20px;
  }
  
  .nav-link.active{
    font-weight: 600;
    background-color: var(--warna-utama);
    color: white;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 20px;
    box-shadow: rgba(53, 61, 182, 0.664) 0px 20px 30px -10px;
  }
  
  .judul-table{
    color: white;
  }
  
  .btn-mulai{
    background-color: white;
    color: #2F61DE;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 60px;
  }
  
  .margin-start{
    margin-left: 60px;
  }
  
  .abumuda{
    background-color: var(--warna-abumuda);
  }
  
  .btn-clustering{
    background-color: #2F61DE;
    color: white;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 60px;
  }
  
  .btn-sec{
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 60px;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .border-section{
    border-radius: 20px;
    border: 1.5px solid;
    border-color: #DBDBDB;
  }
  
  .tbl-container {
    width: 400px;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .bg-ungu {
    background-color: var(--warna-utama);
    color: white;
  }
  
  .bdr {
    border-radius: 10px;
    overflow: hidden;
  }
  
  .bg-gradasi {
    background-image: linear-gradient(105deg, #396CEB 0%, #0F3FB8 100%);
    transition: box-shadow 0.3s ease;
  }
  
  .shadow-ungu {
    box-shadow: rgba(53, 61, 182, 0.664) 0px 20px 30px -10px;
  }
  
  /* Saat dihover, akan menampilkan bayangan */
  .bg-gradasi:hover {
    box-shadow: rgba(53, 61, 182, 0.664) 0px 20px 30px -10px;/* Properti bayangan yang akan ditampilkan saat dihover */
  }
  
  
  .zoom {
    transition: transform .2s; /* Animation */
  
  }
  button.zoom:hover {
    transform: scale(1.2);
  }
  
  .uhuy.zoom:hover {
    transform: scale(1.01);
  }
  
  .form-input {
    background-color: #F8F7F8;
    padding: 32px;
    border-radius: 20px;
  }
  
  .form-group {
    margin-bottom: 16px; /* Margin bawah antara setiap form group */
  }
  
  .h1-form {
    color: white;
    margin: 16px;
    
  }
  
  .bg-tilte-form {
    padding: 16px;
    border-radius: 20px;
  }
  
  .form-control {
    border-radius: 20px; /* Sesuaikan nilai radius yang diinginkan */
  }
  